<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>989646673246-ic2u6o35orlrb3f64cc6ji3innoo6s5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989646673246-ic2u6o35orlrb3f64cc6ji3innoo6s5e</string>
	<key>API_KEY</key>
	<string>AIzaSyBVR6gNE-rEGrJLYmd1sMbix0iWYJcgHPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>989646673246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>coolApp.com.BelizeBuyAndSell</string>
	<key>PROJECT_ID</key>
	<string>belizebuyandsell-87bab</string>
	<key>STORAGE_BUCKET</key>
	<string>belizebuyandsell-87bab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989646673246:ios:8cf54e4b676bbfe7</string>
	<key>DATABASE_URL</key>
	<string>https://belizebuyandsell-87bab.firebaseio.com</string>
</dict>
</plist>